{include file="public/header"}

<div class="layui-form" style="padding: 20px 20px 200px 0;">

    <div class="layui-form-item">
        <label class="layui-form-label" style="overflow: auto">类目名称</label>
        <div class="layui-input-inline">
            <input type="text" id="item_name"  placeholder="请输入类目名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div style="padding-bottom: 10px;float: right;">
        <button class="layui-btn" onclick="add_i()">添加</button>
    </div>
</div>




{include file="public/footer"}