{include file="public/header"}

<form class="layui-form" style="padding: 20px 20px 20px 0;">

    <div class="layui-form-item">
        <label class="layui-form-label">手机号</label>
        <div class="layui-input-inline">
            <input type="text" id="mobile"  placeholder="请输入号码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">卡号</label>
        <div class="layui-input-inline">
            <input type="text" id="card"  placeholder="请输入卡号" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">车牌号</label>
        <div class="layui-input-inline">
            <input type="text" id="car"  placeholder="请输车牌号" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div style="padding-bottom: 10px;float: right;">
        <button type="button" class="layui-btn" onclick="user_add()">添加</button>
    </div>
</form>




{include file="public/footer"}
