{include file="public/header"}

<form class="layui-form" style="padding: 20px 20px 20px 0;" id="bal">
    <input type="hidden" name="id" value="{$id.id}">
    <div class="layui-form-item">
        <label class="layui-form-label">手机号</label>
        <div class="layui-input-inline">
            <input type="text" name="mobile"  value="{$id.mobile}" disabled  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">卡号</label>
        <div class="layui-input-inline">
            <input type="text" name="card" value="{$id.card}" disabled class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">车牌号</label>
        <div class="layui-input-inline">
            <input type="text" name="car"  value="{$id.car}" disabled class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">消费项目</label>
        <div class="layui-input-inline">
            {volist name='item' id="vo"}
            <input type="checkbox" name="item[{$vo.id}]"  lay-skin="primary" title="{$vo.name}" value="{$vo.name}">
            {/volist}
            <hr>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">价格</label>
        <div class="layui-input-inline">
            <input type="text" name="balance"  class="layui-input">
        </div>
    </div>
    <div style="padding-bottom: 10px;float: right;">
        <button type="button" class="layui-btn" onclick="bala()">扣款</button>
        <button type="button" class="layui-btn" onclick="bala1()">现金消费</button>
    </div>
</form>
<script>
function bala() {
    var balance = $("#balance").val();
    if (balance == '') {
        layer.alert('扣款金额不能为空',{icon:2});
        return;
    }
    $.post('/index.php/index/user/balance',$('#bal').serialize(),function (res) {
        if (res.code >0){
            layer.alert(res.message,{icon:2})
        } else {
            layer.msg(res.message);
            setTimeout(function(){parent.window.location.reload();},1000);
        }
    },'json');
}
function bala1() {
    var balance = $("#balance").val();
    if (balance == '') {
        layer.alert('扣款金额不能为空',{icon:2});
        return;
    }
    $.post('/index.php/index/user/balance1',$('#bal').serialize(),function (res) {
        if (res.code >0){
            layer.alert(res.message,{icon:2})
        } else {
            layer.msg(res.message);
            setTimeout(function(){parent.window.location.reload();},1000);
        }
    },'json');
}

</script>


{include file="public/footer"}
