{include file="public/header"}

<form class="layui-form" style="padding: 20px 20px 20px 0;">

    <div class="layui-form-item">
        <label class="layui-form-label">手机号</label>
        <div class="layui-input-inline">
            <input type="text" id="mobile"  value="{$data.mobile}" placeholder="请输入号码" autocomplete="off" disabled class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">卡号</label>
        <div class="layui-input-inline">
            <input type="text" id="card"  value="{$data.card}" placeholder="请输入卡号" autocomplete="off" disabled class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">车牌号</label>
        <div class="layui-input-inline">
            <input type="text" id="car" value="{$data.car}"  placeholder="请输车牌号" disabled autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">充值金额</label>
        <div class="layui-input-inline">
            <input type="text" id="recharge"   placeholder="请输充值金额" autocomplete="off" class="layui-input">
        </div>
    </div>
    <input type="hidden" id="id" value="{$data.id}">
    <div style="padding-bottom: 10px;float: right;">
        <button type="button" class="layui-btn" onclick="charge()">添加</button>
    </div>
</form>

<script>
    //充值
    function charge() {
        var recharge = $("#recharge").val();
        var id = $("#id").val();
        if (recharge == '') {
            layer.alert('充值金额不能为空',{icon:2});
            return;
        }
        $.post('/index.php/index/user/recharge',{'recharge':recharge,'id':id},function (res) {
            if (res.code >0){
                layer.alert(res.message,{icon:2})
            } else {
                layer.msg(res.message);
                setTimeout(function(){parent.window.location.reload();},1000);
            }
        },'json');
    }
</script>


{include file="public/footer"}
